/* sentrer alt */
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* select  */
select{
    padding: 8px 12px;
    color: #333333;
    background-color: #eeeeee;
    border: 1px solid;
    cursor: pointer;
    border-radius: 5px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select:focus,
select:hover{
    outline: none;
    border: 1px solid #bbbbbb;
}

option{
    background: #ffffff;
}

/* tabellen */
table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
/* row */
tr{
    border-bottom: 1px solid #dddddd;
}
tr:nth-of-type(even){
    background-color: #f3f3f3;
}
tr:last-of-type{
    border-bottom: 2px solid #009879;
}
/* cell */
th{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

td, th{
    padding: 12px 15px;
}


/* knapp */
button{
    padding: 8px 12px;
    color: #333333;
    background-color: #eeeeee;
    border: 1px solid;
    cursor: pointer;
    border-radius: 5px;
}
/* svar */

p{
    font-size: 50px;
    font-weight: bold;
}